*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: 0;
}

#app {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 50px;
  background-color: white;
  font-family: sans-serif;
}

@media(max-width: 800px) {
  #app {
   padding: 8px;
    margin-top: 16px;
  }
}